<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indore Hotel</title>
    <style> div{text-align: center}</style>
    <link rel="stylesheet" href="style.css"> 

</head>
<body style="background-color: lightcyan">
    <div>
        <li><h1 style="background-color:cornflowerblue; color: white"><i>Welcome to the Indore Hotel</i></h1></li>
    </div>

    <div style="background-color: floralwhite">
        <li><h1><i><b>Register/Login</b></i></h1></li>
        <a href="user_register1">Customer</a></li><br>
        <a href="staff_register">Staff</a></li>
    </div>


</body>
</html>